<div class='container'>
    <section>
        <h1>
            Top Deals
        </h1>
        <p>
            Sorry, this page is under construction
        </p>
    </section>
</div>

<%= render 'pages/footer'%>