<div class='container'>
    welcome to your search
    (under construction)
    <pre>
    <% if @response != "" %>
    <%= @response %>
    <% end %>
    </pre>
    "<%= @arrive_city_ita %>"<br>
    "<%= @depart_city_ita %>"<br>
    "<%= @search %>"<br>
</div>