<div class='container'>
    welcome to your search
    (under construction)
    <pre>
    <% if @response != "" %>
    <%= @response %>
    <% end %> 
    
    <% params[:querys][:query1].each do |x, y|%>
           <%= y %>
        <% end %>
    </pre>
    
    
</div>