$font_main: 'lato';
$primary_color: #45106e;
$nav_highlight: #8828ab;
$top-nav_font_color: #BEBEBE;
$top-nav_font_color_highlight:#FFFFFF;


/* Foundation for all devices */
.cover {
        background: image-url('ajax-loader.gif') no-repeat scroll center center #FFF;
        position: absolute;
        top:0px;
        left:0px;
        overflow:none;
        height: 100%;
        width: 100%;
    }

.cover_data {
        background: image-url('ajax-loader.gif') no-repeat scroll auto auto #FFF;
        position: absolute;
        top:0px;
        left:0px;
        overflow:none;
        height: 100%;
        width: 60%;
    }

body {
    margin: 0px;
    padding:0px;
    font-family:$font_main;
    background-color:#FFFFFF;
}

div.container{
    max-width:1200px;
    width:100%;
    margin:0 auto;
    clear:both;
    background-color:#FFFFFF;
    position:relative;
}

div.container-no-bg {
    max-width:1200px;
    width:100%;
    margin:0 auto;
    clear:both;
}

header.top-header {
    height:110px;
    background-color:white;
}
div.logo {
    width:30%;
    height:60px;
    float:left;
}
div.header-right{
    margin-top:12px;
    width:30%;
    height:80px;
    border:solid 1px red;
    float:right;
}

nav.header-nav {
    max-width:1200px;
    width:100%;
    background-color: $primary_color;
    padding:0px;
    margin:0 auto;
}

nav.header-nav div.nav-hamburger {
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
}

nav.header-nav div.nav-hamburger-container {
    display:inline-block;
    height:12px;
}
div.top-nav {
    float:left;
    width:100%;
    background-color:$primary_color;
    position:relative;
}
ul.top-nav{
    list-style-type:none;
    padding:0px;
    margin:0px;
    float:left;
    background-color: $primary_color;
    
}

ul.top-nav li {
    float:left;
    background-color: $primary_color;
    border:none;
}

ul.top-nav li a {
    display:inline-block;
    text-decoration:none;
    font-family:$font_main;
    font-size: 12px;
    color: $top-nav_font_color;
    padding:8px 16px 11px 16px;
    background-color: $primary_color;
    transition:0.3s;
    border:none;
    &:hover{
        background-color:$nav_highlight;
        color:$top-nav_font_color_highlight;
    }
 }


ul.top-nav li.icon {
    font-size:15px;
    display:none;
}

nav.header-nav div.avatar-icon {
    display:inline-block;
    height:30px;
    width:30px;
    float:right;
    padding:3px 20px 0px 0px;
    }

nav.header-nav div.avatar-icon img{
    height:30px;
    width:30px;
    border-radius:1em;
    }
nav.header-nav form.search input, nav.header-nav form.search button{
    padding:6px;
    font-size:14px;
}

.clearfix:after {
       content: "."; 
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
}

/* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        ul.top-nav li.icon {
            font-size:15px;
            display:inline-block;
            position:absolute;
            top:0px;
            left:64px;
                
        } 
        
        nav.header-nav form.search {
            display:none;
            background-color:$primary_color;
            position:absolute;
            top:25px;
            right:0px;
            
        }
        @keyframes nav_search_fade {
        from {opacity: 100;}
        to {opacity: 0;}
        }
        nav.header-nav form.search.responsive {
            display:block;
            animation-name: nav_search_fade;
            animation-duration: 0.3s;
            animation-timing-function: ease-in;
            animation-direction: reverse
        }
        
        ul.top-nav li:not(:first-child){
            display:none;
            float:none;
            clear:both;
            text-align:left;
            
            a {
                display:block;
            }
        } 
        
        ul.top-nav {
            float:none;
            clear:both;
        }
        
        ul.top-nav li.responsive {
            display:block;
        }
        
        ul.top-nav li.icon {
            font-size:15px;
            display:inline-block;
            position:absolute;
            top:0px;
            right:0px; 
        } 
        
        ul.top-nav li.icon a {
            display:inline-block;
        }
        
         nav.header-nav form.search.responsive {
            display:block;
        }
        
        nav.header-nav form.search {
            display:none;
            background-color:$primary_color;
            position:absolute;
            top:107px;
            right:0px;
            
        }
    }
    
    /* Small Devices, Tablets */
   @media only screen and (max-width : 768px) {
    
       
    }
  
//Stying for datepicker (<input type='date'>)

input[type="date" i] {
    position:relative;
}
::-webkit-datetime-edit { position:relative; }
::-webkit-datetime-edit-fields-wrapper { }
::-webkit-datetime-edit-text {  }
::-webkit-datetime-edit-month-field {  }
::-webkit-datetime-edit-day-field {  }
::-webkit-datetime-edit-year-field {  }
::-webkit-inner-spin-button { display:none; }
::-webkit-calendar-picker-indicator { 
    width:70%;
    height:100%;
    opacity:0;
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
}

//Style for Jquery autocomplete

/*
ul .ui-menu-item:hover {
    color:black;
}
.ui-menu {
    color:grey;
    display:inline-block;
    list-style-type:none;
    padding: 10px;
    margin: 0;
    display:block;
    overflow:hidden;
    background-color:white;
    border: groove 2px #FCFCFC;
}
.ui-menu-item {
    height:40px;
    padding:0px 3px 0px 40px;
    background-image: url('airplane_icon.gif');
    background-size:12px;
    background-repeat: no-repeat;
    background-position:10px 10px;
}

div.ui-helper-hidden-accessible {
    display:none;
    height:0px;
}

.ui-menu-item {
    
}

*/

/* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        
        div.container{
            min-width:250px;
            width:100%;
            margin:0 auto;
            clear:both;
            background-color:#FFFFFF;
        }

        div.container-no-bg {
            min-width:250px;
            width:100%;
            margin:0 auto;
            clear:both;
        }
    }
